@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $text-c;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
input {
    display: block;
    outline: none;
}
// .section {
//     padding: 20px 0;
// }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}