<div id="tui-pagination-container" class="tui-pagination pagination">
  bfgfgf
</div>

<footer class="footer">
  <div class="footer__wrap">
    <p class="footer__rights">&copy; 2020 | All Rights Reserved |</p>
    <p class="footer__develop">
      Developed with <span class="footer__symbol">&#10084;</span> by
      <span>
        <a href="#" class="footer__link" footer-modal-open
          >GoIT Students</a
        ></span
      >
    </p>
  </div>
</footer>

<div class="footer-modal is-hidden" footer-modal>
  <div class="footer-modal__window">
    <button footer-modal-close type="button" class="footer-modal__close-btn">
      <svg class="footer-modal__icon" width="30" height="30">
        <use
          xlink:href="./images/footer-team-photo/footer-symbol.svg#icon-close-btn"
        ></use>
      </svg>
    </button>

    <div class="team">
      <h2 class="team__title">OUR TEAM</h2>

      <ul class="team__list">
        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/EvgenNikiforov.jpg"
              alt="Evgen Nikiforov"
              width="250"
            />
            <h3 class="team__name">Evgen Nikiforov</h3>
            <h4 class="team__job">Team Lead</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/IrynaBuriak.jpg"
              alt="Iryna Buriak"
              width="250"
            />
            <h3 class="team__name">Iryna Buriak</h3>
            <h4 class="team__job">Scrum master</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/RomanSklyarenko.jpg"
              alt="Roman Sklyarenko"
              width="250"
            />
            <h3 class="team__name">Roman Sklyarenko</h3>
            <h4 class="team__job">Developer</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/RomanPolishchuk.jpg"
              alt="Roman Polishchuk"
              width="250"
            />
            <h3 class="team__name">Roman Polishchuk</h3>
            <h4 class="team__job">Developer</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/AnzhelikaDubinenko.jpg"
              alt="Anzhelika Dubinenko"
              width="250"
            />
            <h3 class="team__name">Anzhelika Dubinenko</h3>
            <h4 class="team__job">Developer</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/MykolaSeneta.jpg"
              alt="Mykola Seneta"
              width="250"
            />
            <h3 class="team__name">Mykola Seneta</h3>
            <h4 class="team__job">Developer</h4>
          </div>
        </li>

        <li class="team__item">
          <div class="team__block">
            <img
              class="team__photo"
              src="./images/footer-team-photo/OleksandrKornienko.jpg"
              alt="Oleksandr Kornienko"
              width="250"
            />
            <h3 class="team__name">Oleksandr Kornienko</h3>
            <h4 class="team__job">Developer</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
