<div class='header-container'>
  <div class='header-nav-container'>
    <div class='header-logo-container'>
      <div class='logo-image'></div>
      <span class='logo-title'>Filmoteka</span>
    </div>
    <div class='header-nav-button-container'>
      <button type='button' class='header-nav-button active-nav-button home-nav-button'>home</button>
      <button type='button' class='header-nav-button library-nav-button'>my library</button>
    </div>
  </div>
  <div class='header-action-container'>
    <div class='movie-search-input-container'>
      <form class='movie-search-form'>
        <label>
          <input type='text' placeholder='Movie search' class='movie-search-input' autocomplete='off' name="search-input">
        </label>
        <button type='submit' class='form-submit-button'></button>
      </form>
      <p class='search-error hidden'>Search result not successful. Enter the correct movie name.</p>
    </div>
    <div class='library-button-container'>
      <button type='button' class='library-buttons library-active-button watched-button'>Watched</button>
      <button type='button' class='library-buttons queue-button'>queue</button>
    </div>
  </div>
</div>
<div class='loader'></div>