<div class="backdrop-modal is-hidden" id="modal">
    <div class="modal">
        <div id="status-loading" class="hidden-state">Loading...</div>
        <button id="button-modal-close" type="button" class="modal-close-button"></button>
        <img class="modal-image" id="modal-img" alt="Poster">
        <div class="modal-info">
            <h2 class="modal-info-title" id="modal-title"></h2>
            <table class="modal-table">
                <tbody>
                    <tr class="modal-table-row">
                        <td>Vote / Votes</td>
                        <td> <span class="modal-table-vote" id="modal-vote"></span> / <span class="modal-table-votes"
                                id="modal-votes"></span>
                        </td>
                    </tr>
                    <tr class="modal-table-row">
                        <td>Popularity</td>
                        <td id="modal-popular">100</td>
                    </tr>
                    <tr class="modal-table-row">
                        <td>Original Title</td>
                        <td class="modal-table-uppercase" id="modal-original-title"></td>
                    </tr>
                    <tr class="modal-table-row">
                        <td>Genre</td>
                        <td id="modal-genre">Western</td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-about">
                <h3 class="modal-about-title">About</h3>
                <p class="modal-about-text" id="modal-descr"></p>
            </div>
            <div class="buttons-modal">
                <button type="button" class="library-buttons library-buttons-modal watched-button" id="watchedBtn">add
                    to
                    Watched</button>
                <button type="button" class="library-buttons library-buttons-modal watched-button"
                    id="queueBtn">queue</button>
            </div>
        </div>
    </div>

</div>